.row
  .span2.columns= image_tag(@user.picture_url)
  .span14.columns
    %h1= @user.name

.user
  %h2 Checkins
  %p
    = @user.firstname
    has #{pluralize @user.checkins.size, "checkin"}.
  %table
    %thead
      %tr
        %th ID
        %th Venue ID
        %th Venue Name
        %th Shout
        %th Timestamp
        %th Timezone
    %tbody
      - for checkin in @user.checkins
        %tr
          %td= checkin.checkin_id
          %td= checkin.venue_id
          %td= checkin.venue_name
          %td= checkin.shout
          %td= checkin.time 
          %td= checkin.timezone
