- if current_gc_user && !current_gc_user.secondary_access_token.blank?
  %h3
    Ghostcar for
    %i= current_gc_user.name

  %p
    = pluralize(current_gc_user.checkins.size, "checkin")
    tracked.
  

  - if current_gc_user.checkins.any?
    - if @last_year
      %h3 A year ago...

      %p
        The next checkin to be echoed will be from
        = @last_year.time
        when you were at
        = link_to @last_year.venue_name, @last_year.venue_url
        - if @last_year.shout
          and you said
          %i "#{@last_year.shout}"
        %br
        It will be echoed at
        = @last_year.echo_time
        to 
        = link_to "this account.", "https://foursquare.com/user/#{current_gc_user.secondary_foursquare_id}"

    - if @show_all
      %h3 
        All Checkins (page #{params[:page] || 1})
        = link_to "Show Latest", "/"
    - else
      %h3
        Last Ten Checkins
        = link_to "Show All", "/?show=all"
    
    %table
      %thead
        %tr
          %th Venue
          %th Shout
          %th Timestamp
          %th Will be reposted at
          %th Timezone Offset 
          %th Reposted?
      %tbody
        - for checkin in @checkins
          %tr
            %td= link_to checkin.venue_name, checkin.venue_url
            %td= checkin.shout
            %td= checkin.time
            %td= checkin.echo_time
            %td= checkin.timezone_offset
            %td
              - if checkin.reposted
                √
    - if @show_all
      = paginate @checkins
- else
  .row
    %h2 Step 1: Sign in with Foursquare.

    %p You should sign in with your main Foursquare account: the account you want to chase the ghost car of.

    - if session[:access_token]
      %img{:src => current_gc_user.photo_url('medium')}
      Logged in as
      %i= current_gc_user.name
    - else
      %p= link_to image_tag("connect.png"), @authorize_url

    - if session[:access_token]
      %h2 Step 2: Sign out of Foursquare and create a <i>new</i> account. 
      
      %p This will be a secret account of yours that lives in the past: the ghost car. You might want to append your Surname to "Surname in the Past" so you know it's you.
      
      %p Foursquare will require it to have a different email address to your current account. If you use Gmail, you can do this easily by appending a plus sign and text before the @ in your address. (Eg: <code>tom+ghostcar@example.org</code>). This also has side-effect of labelling everything sent to this address as <code>ghostcar</code>.

      %p This account should be as private as possible - in its privacy settings, you should set it so that it cannot earn mayorships, appear in the public list of people in a venue, or tell venue managers it's there. It's a ghost, just for you, and anyone else you'd like to see it.

      %p To that end, make sure you friend your historical self!

      %h2 Step 3: Authorize <code>ghostcar</code> to send updates from your second, ghost account.

      %p 
        %b Remember:
        make sure you are logged into Foursquare as your
        %i second
        account - the one in the past. If you aren't logged in, and Foursquare asks you to log in, please log in with your
        %i second account - the one in the past.

      %p= link_to "Link accounts", @authorize_url
